<div id="orders_page"
     class="j-navigation-page j-navigation j-control-container
            t-current-bakery-exist page active"
     data-name="orders">

    {% include 'page/orders.twig' %}}
</div>

<div id="recipes_page"
     class="j-navigation-page j-navigation j-control-container page
            t-current-bakery-exist"
     data-name="recipes">

    {% include 'page/recipes.twig' %}}
</div>

<div id="dimensions_page"
     class="j-navigation-page j-navigation j-control-container page
            t-current-bakery-exist"
     data-name="dimensions">

    {% include 'page/dimensions.twig' %}}
</div>

<div id="decorations_page"
     class="j-navigation-page j-control-container page
            t-current-bakery-exist"
     data-name="decorations">

    {% include 'page/decorations.twig' %}}
</div>

<div id="users_page"
     class="j-navigation-page j-navigation j-control-container page"
     data-name="users">

    {% include 'page/users.twig' %}}
</div>

<div class="j-navigation-page page"
     data-name="application">

    {% include 'page/application.twig' %}}
</div>

<div class="t-bakery-hidden row">

    <div class="span12">
        <form class="j-form j-template-transformer
                     t-bakery-disabled form-inline pull-right"
              data-name="bakery-selection"
              data-template-id="bakery_selection_template">

            <label>
                Кондитерская:

                <select name="bakery_id" class="t-bakery-select">
                    <option value="-1"></option>
                </select>
            </label>

            <input type="submit" class="btn" value="Выбрать" />
        </form>
    </div>

</div>

<div class="j-control-container hide">
    <tuna:template id="bakery_selection_template">
        {{ tmpl.list('/', 't-bakery-select',
                     'option_renderer',
                     'bakery_option_template', 'id') }}
    </tuna:template>

    <tuna:template id="bakery_option_template">
        {{ tmpl.attr('id', 't-option', 'value') }}
        {{ tmpl.spot('name', 't-option') }}
    </tuna:template>
</div>
