<div id="orders_page"
     class="j-navigation-page j-navigation j-control-container
            t-current-bakery-exist page active"
     data-name="orders">

    {{> template/page/orders }}
</div>

<div id="recipes_page"
     class="j-navigation-page j-navigation j-control-container page
            t-current-bakery-exist"
     data-name="recipes">

    {{> template/page/recipes }}
</div>

<div id="dimensions_page"
     class="j-navigation-page j-navigation j-control-container page"
     data-name="dimensions">

    {{> template/page/dimensions }}
</div>

<div id="users_page"
     class="j-navigation-page j-navigation j-control-container page"
     data-name="users">

    {{> template/page/users }}
</div>


<div class="t-bakery-hidden row">

    <div class="span12">
        <form class="j-form j-template-transformer
                     t-bakery-disabled form-inline pull-right"
              data-name="bakery-selection"
              data-template-id="bakery_selection_template">

            <label>
                Кондитерская:

                <select name="bakery_id" class="t-bakery-select">
                    <option value="-1"></option>
                </select>
            </label>

            <input type="submit" class="btn" value="Выбрать" />
        </form>
    </div>
</div>


