<div class="j-navigation-page j-navigation j-control-container
            t-current-bakery-exist page active"
     data-controller-id="orders_page"
     data-widgets="template-transformer, navigation"
     data-name="orders">

    {% include 'page/orders.twig' %}
</div>

<div class="j-navigation-page j-navigation j-control-container page
            t-current-bakery-exist t-parther-hidden"
     data-controller-id="recipes_page"
     data-widgets="template-transformer, navigation, button-group, form"
     data-name="recipes">

    {% include 'page/recipes.twig' %}
</div>

<div class="j-navigation-page j-navigation j-control-container page
            t-current-bakery-exist t-parther-hidden"
     data-widgets="template-transformer, navigation, button-group, form"
     data-controller-id="dimensions_page"
     data-name="dimensions">

    {% include 'page/dimensions.twig' %}
</div>

<div class="j-navigation-page j-control-container page
            t-current-bakery-exist t-parther-hidden"
     data-widgets="template-transformer, navigation, button-group, form, popup-button"
     data-controller-id="decorations_page"
     data-name="decorations">

    {% include 'page/decorations.twig' %}
</div>

<div class="j-navigation-page j-navigation j-control-container page
            t-admin-visible"
     data-widgets="template-transformer, navigation, button-group, form, button, popup"
     data-controller-id="users_page"
     data-name="users">

    {% include 'page/users.twig' %}
</div>

<div class="j-navigation-page page
            t-parther-hidden"
     data-name="application">

    {% include 'page/application.twig' %}
</div>

<div class="j-navigation-page j-control-container page
            t-parther-hidden"
     data-controller-id="profile_page"
     data-widgets="template-transformer, form, button, popup"
     data-name="profile">

    {% include 'page/profile.twig' %}
</div>

<div class="t-bakery-hidden row">

    <div class="span12">
        <form class="j-form j-template-transformer
                     t-bakery-disabled form-inline pull-right"
              data-name="bakery-selection"
              data-template-id="bakery_selection_template">

            <label>
                Кондитерская:

                <select name="bakery_id" class="t-bakery-select">
                    <option value="-1"></option>
                </select>
            </label>

            <input type="submit" class="btn" value="Выбрать" />
        </form>
    </div>

</div>

<div class="j-control-container hide">
    <tuna:template id="bakery_selection_template">
        {{ tmpl.list('/', 't-bakery-select',
                     'option_renderer',
                     'bakery_option_template', 'id') }}
    </tuna:template>

    <tuna:template id="bakery_option_template">
        {{ tmpl.attr('id', 't-option', 'value') }}
        {{ tmpl.spot('name', 't-option') }}
    </tuna:template>
</div>
