{% import "macro/forms.twig" as forms %}

<!DOCTYPE html>
<html xmlns:tuna>
    <head>
        <meta charset="utf-8" />

        <title>Панель управления</title>

        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />

        <style type="text/css">
            body { padding-top: 60px; }
            a { cursor: pointer; }

            .hide { display: none !important }
            .show { display: inherit !important }

            .page { display: none; }
            .page.active { display: inherit; }
        </style>
    </head>

    <body class="j-navigation j-template-transformer container"
          data-name="body-container"
          data-template-id="global_template">

        {% include 'popup/login.twig' %}

        {% include 'navigation.twig' %}
        {% include 'body.twig' %}


        <div class="j-control-container hide">

            {% include 'templates.twig' %}

            <iframe id="api_frame" name="api_frame"
                    width="0" height="0"></iframe>

        </div>

        <!--[if IE]>-->
            <script type="text/javascript" src="/js/json.js"></script>
        <!--<![endif]-->

        <script type="text/javascript" src="/js/sizzle.js"></script>
        <script type="text/javascript" src="/js/app.js"></script>

        <script type="text/javascript">main(document.body);</script>
    </body>
</html>