<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <!--a class="j-navigation-link brand" href="#"
               data-href="orders/table">
                Фото на торте
            </a-->

            <ul class="j-navigation-menu nav">
                <li class="j-navigation-link" data-href="orders/table">
                    <a>Заказы</a>
                </li>
                <li class="j-navigation-link" data-href="recipes/table">
                    <a>Рецепты</a>
                </li>
                <li class="j-navigation-link" data-href="dimensions/table">
                    <a>Формы</a>
                </li>
                <li class="j-navigation-link t-bakery-hidden"
                    data-href="users/table">

                    <a>Кондитерские</a>
                </li>

                <li class="j-navigation-link" data-href="decorations">
                    <a>Декорации</a>
                </li>

                <li class="j-navigation-link" data-href="application">
                    <a>Приложение</a>
                </li>

                <li class="j-navigation-link" data-href="profile">
                    <a>Профиль</a>
                </li>
            </ul>

            <form action="/api/" method="POST" target="api_frame"
                  class="j-form navbar-form pull-right"
                  data-name="sign-out">

                <input type="hidden" name="method" value="users.signOut" />
                <input type="hidden" name="format" value="frame-callback" />

                <button type="submit" class="btn">Выход</button>
            </form>

            <ul class="nav pull-right">
                <li>
                    <a>
                        <span class="t-current-user-role-name"></span> :
                        <i class="icon-user icon-white"></i>
                        <span class="t-current-user-email"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>