<!-- Common  -->

<select>
    <option id="option_renderer" class="t-option"></option>
</select>

<!-- User templates -->

<tuna:template id="user_template">
    <tuna:spot tuna:path="email"
               tuna:target="t-user-email" />

    <tuna:spot tuna:path="role"
               tuna:target="t-user-role" />

    <tuna:spot tuna:path="roleName"
               tuna:target="t-user-role-name" />
</tuna:template>

<tuna:template id="user_access_template">
    <tuna:if tuna:path="role" tuna:eq="1" tuna:class="disabled"
             tuna:target="t-bakery-disabled"/>

    <tuna:if tuna:path="role" tuna:eq="1" tuna:class="hide"
             tuna:target="t-bakery-hidden"/>
</tuna:template>

<!-- Bakery templates -->

<tuna:template id="bakery_selection_template">
    <tuna:list tuna:path=""
               tuna:target="t-bakery-select"
               tuna:item-renderer-id="option_renderer"
               tuna:item-template-id="bakery_option_template"
               tuna:key-path="id" />
</tuna:template>

<tuna:template id="bakery_option_template">
    <tuna:attr tuna:name="value"
               tuna:path="id"
               tuna:target="t-option" />

    <tuna:spot tuna:target="t-option"
               tuna:path="name" />
</tuna:template>


<!-- Order templates -->

<tuna:template id="order_template">
    <tuna:spot tuna:path="index"
               tuna:target="t-order-index" />
    <tuna:spot tuna:path="creationDate"
               tuna:target="t-order-date" />
</tuna:template>

<tuna:template id="orders_list_template">
    <tuna:list tuna:target="t-orders-list" tuna:path=""
               tuna:item-renderer-id="orders_list_item_renderer"
               tuna:item-template-id="order_template"
               tuna:key-path="id" />
</tuna:template>

<table>
    <tbody>
        <tr id="orders_list_item_renderer">
            <td class="t-order-index"></td>
            <td class="t-order-date"></td>
            <td class="t-delivery-date"></td>
            <td>Сергей Кононенко</td>
            <td>1300</td>
            <td>
                <span class="label label-important">Новый</span>
            </td>
            <td>
                <span class="label label-warning">Подготовка</span>
            </td>
            <td>
                <span class="label label-important">Не оплачен</span>
            </td>
            <td>
                <ul class="nav nav-list">
                    <li>
                        <a class="j-button" href="#"
                           data-action="edit">
                            <i class="icon-edit"></i>
                            Редактировать
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>

<!-- Recipes table -->

<tuna:template id="recipe_table_template">
    <tuna:list tuna:target="t-recipe-list" tuna:path=""
               tuna:item-renderer-id="recipe_row_renderer"
               tuna:item-template-id="recipe_row_template"
               tuna:key-path="id" />
</tuna:template>

<tuna:template id="recipe_row_template">
    <tuna:attr tuna:target="t-recipe-id" tuna:path="id" tuna:name="data-recipe-id" />

    <tuna:attr tuna:target="t-recipe-image" tuna:path="imageUrl" tuna:name="src" />
    <tuna:attr tuna:target="t-recipe-image" tuna:path="name" tuna:name="alt" />

    <tuna:spot tuna:target="t-recipe-name" tuna:path="name" />
    <tuna:spot tuna:target="t-recipe-desc" tuna:path="desc" />
</tuna:template>

<table>
    <tr id="recipe_row_renderer">
        <td class="t-recipe-name"></td>
        <td>
            <img class="t-recipe-image" width="90" height="90" alt="Рецепт" />
        </td>
        <td class="t-recipe-desc"></td>
        <td>
            <ul class="nav nav-list">
                <li>
                    <a class="t-recipe-id j-button" href="#"
                       data-action="edit" data-recipe-id="">
                        <i class="icon-edit"></i>
                        Редактировать
                    </a>
                </li>
                <li>
                    <a class="t-recipe-id j-button" href="#"
                       data-action="delete" data-recipe-id="">
                        <i class="icon-trash"></i>
                        Удалить
                    </a>
                </li>
            </ul>
        </td>
    </tr>
</table>

<!-- ./ Recipes table -->

<!-- Add recipe form -->

<tuna:template id="recipe_add_template">
    <tuna:attr tuna:target="t-bakery-id" tuna:path="id" tuna:name="value"/>
</tuna:template>

<!-- ./ Add recipe form -->
