<form action="/api/" method="POST" target="api_frame"
      class="j-form j-template-transformer form-horizontal"
      data-template-id="order_info_template"
      data-name="edit-order-form"
      data-record-type="order">

    <input type="hidden" name="method" value="orders.edit" />
    <input type="hidden" name="format" value="frame-callback" />

    <input type="hidden" name="id" class="t-id" />

    <div class="page-header">
        <div class="row">
            <div class="span7">
                <h1>Заказ № <span class="t-index">2145</span></h1>
            </div>
            <div class="span5">
                <div class="btn-group pull-right">
                    <a class="j-navigation-link btn btn-large"
                       data-action="back">
                        Назад
                    </a>
                    <button type="submit"
                            class="btn btn-large btn-primary">
                        Сохранить изменения
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="span6">

            <fieldset>
                <legend>Данные торта</legend>

                <div class="control-group pagination-centered">
                    <img class="t-cake-image-url" alt="Торт"
                         src="http://files.fotonatorte.local/cake_image_4f54a5012f58c.jpg"  />
                </div>

                <div class="control-group">
                    <label class="control-label">Рецепт: </label>
                    <div class="controls">
                        <input class="t-recipe-name" disabled type="text"
                               value="Марципан" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Вес (кг.): </label>
                    <div class="controls">
                        <input class="t-cake-weight" disabled type="text"
                               value="1.5" />
                    </div>
                </div>

                <div class="t-cake-photo control-group hide">
                    <label class="control-label">Фото: </label>
                    <div class="controls">
                        <a class="t-cake-photo-url btn">Скачать</a>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Статус</legend>

                <div class="j-status-input control-group">
                    <label class="control-label">Статус заказа: </label>
                    <div class="controls">
                        <label class="radio inline">
                            <input value="1" type="radio" name="status" />
                            <span class="label label-important">Новый</span>
                        </label>
                        <label class="radio inline">
                            <input value="2" type="radio" name="status" />
                            <span class="label label-success">Подтвержден</span>
                        </label>
                        <label class="radio inline">
                            <input value="3" type="radio" name="status" />
                            <span class="label">Отклонен</span>
                        </label>
                        <p class="j-message help-block"></p>
                    </div>
                </div>

                <div class="j-delivery_status-input control-group">
                    <label class="control-label">Статус доставки: </label>
                    <div class="controls">
                        <label class="radio inline">
                            <input value="0" type="radio" name="delivery_status" />
                            <span class="label label-important">Подготовка</span>
                        </label>
                        <label class="radio inline">
                            <input value="1" type="radio" name="delivery_status" />
                            <span class="label label-info">В доставке</span>
                        </label>
                        <label class="radio inline">
                            <input value="2" type="radio" name="delivery_status" />
                            <span class="label label-success">Доставлено</span>
                        </label>
                        <p class="j-message help-block"></p>
                    </div>
                </div>

                <div class="j-payment_status-input control-group">
                    <label class="control-label">Статус оплаты: </label>
                    <div class="controls">
                        <label class="radio inline">
                            <input value="0" type="radio" name="payment_status" />
                            <span class="label label-important">Не оплачен</span>
                        </label>
                        <label class="radio inline">
                            <input value="1" type="radio" name="payment_status" />
                            <span class="label label-success">Оплачен</span>
                        </label>
                        <p class="j-message help-block"></p>
                    </div>
                </div>

            </fieldset>

        </div>

        <div class="span6">

            <fieldset>
                <legend>Данные клиента</legend>

                <div class="control-group">
                    <label class="control-label">Имя: </label>
                    <div class="controls">
                        <input class="t-client-name" disabled type="text"
                               value="Сергей Кононенко" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Телефон: </label>
                    <div class="controls">
                        <input class="t-client-phone" disabled type="text"
                               value="+7 (952) 232-90-25" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Email: </label>
                    <div class="controls">
                        <input class="t-client-email" disabled type="text"
                               value="kononencheg@gmail.com" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Источник: </label>
                    <div class="controls">
                        <input class="t-client-network-name" disabled type="text"
                               value="Вконтакте" />
                    </div>
                </div>

            </fieldset>

            <fieldset>
                <legend>Данные доставки</legend>


                <div class="control-group">
                    <label class="control-label">Адрес: </label>
                    <div class="controls">
                        <textarea class="t-delivery-address" disabled></textarea>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Время: </label>
                    <div class="controls">
                        <input class="t-delivery-date" disabled type="text"
                               value="24-02-2012 20:00" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Комментарий: </label>
                    <div class="controls">
                        <textarea class="t-delivery-comment" disabled></textarea>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Записка: </label>
                    <div class="controls">
                        <textarea class="t-delivery-message" disabled></textarea>
                    </div>
                </div>


            </fieldset>

            <fieldset>
                <legend>Данные оплаты</legend>

                <div class="control-group">
                    <label class="control-label">Сумма: </label>
                    <div class="controls">
                        <input class="t-payment-price" disabled type="text" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Метод оплаты: </label>
                    <div class="controls">
                        <select disabled>
                            <option>Наличными</option>
                        </select>
                    </div>
                </div>

            </fieldset>

        </div>

    </div>

</form>