[submodule "library/PhotoCake"]
	path = library/PhotoCake
	url = git@github.com:kononencheg/Photo-Cake-Library.git
[submodule "public/js/lib/tuna"]
	path = public/js/lib/tuna
	url = git@github.com:kononencheg/Tuna-Framework
