<form action="/api/" method="POST" target="api_frame"
      class="j-form j-popup form-horizontal hide"
      data-name="change-password">

    <input type="hidden" name="method" value="users.changePassword" />
    <input type="hidden" name="format" value="frame-callback" />

    <input type="hidden" name="id" class="t-current-bakery-id" />

    <div class="modal">
        <div class="modal-header">
            <h3>Сменить пароль</h3>
        </div>

        <div class="modal-body">
            <div class="j-form-message alert alert-error hide"></div>

            <fieldset>

                {{ forms.input('new_password', 'Новый пароль', 'Пароль, который вы хотите', 'password') }}
                {{ forms.input('confirm_password', 'Повторите пароль', 'Пароль, который вы хотите', 'password') }}
                {{ forms.input('old_password', 'Текущий пароль', 'Пароль, под которым вы вошли', 'password') }}

            </fieldset>
        </div>

        <div class="modal-footer">
            <a class="j-popup-close btn">Закрыть</a>
            <input type="submit" class="btn btn-primary" value="Созранить" />
        </div>
    </div>
    <div class="modal-backdrop"></div>
</form>