<form action="/api/" method="POST" target="api_frame"
      class="j-form j-popup form-horizontal hide"
      data-name="sign-in" data-record-type="bakery">

    <input type="hidden" name="method" value="users.signIn" />
    <input type="hidden" name="format" value="frame-callback" />

    <div class="modal">
        <div class="modal-header">
            <h3>Войти</h3>
        </div>

        <div class="modal-body">
            <div class="j-form-message alert alert-error hide"></div>

            <fieldset>

                <div class="j-email-input control-group">
                    <label class="control-label" for="singup_email">
                        Email:
                    </label>
                    <div class="controls">
                        <div class="input">
                            <input name="email" id="singup_email" type="text" />
                        </div>
                        <p class="j-message help-block">
                            Адрес, который вы указали при регистрации.
                        </p>
                    </div>
                </div>

                <div class="j-password-input control-group">
                    <label class="control-label" for="singup_password">Пароль:</label>
                    <div class="controls">
                        <input name="password" id="singup_password" type="password" />
                        <p class="j-message help-block">
                            Пароль который вы указали при регистрации.
                        </p>
                    </div>
                </div>

            </fieldset>
        </div>

        <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="Войти" />
        </div>
    </div>
    <div class="modal-backdrop"></div>
</form>