<div class="page-header">

    <div class="row">
        <div class="span6">
            <h1>Добавление новой формы</h1>
        </div>
        <div class="span6">
            <a class="j-back-link btn btn-large pull-right">Назад</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="span12">

        <form action="/api/" method="POST" target="api_frame"
              class="j-form form-horizontal"
              data-name="add-dimension"
              data-record-type="dimension">

            <input type="hidden" name="method" value="dimensions.add" />
            <input type="hidden" name="format" value="frame-callback" />

            <input type="hidden" name="bakery_id" class="t-current-bakery-id" />

            <div class="j-form-message alert alert-error hide"></div>

            <fieldset>

                <div class="j-shape-input control-group">
                    <label class="control-label">Форма:</label>
                    <div class="controls">
                        <div class="input">
                            <select class="input-medium" name="shape">
                                <option value="round">Круг</option>
                                <option value="rect">Прямоугольник</option>
                            </select>
                        </div>
                        <p class="j-message help-block"></p>
                    </div>
                </div>

                <div class="j-weight-input control-group">
                    <label class="control-label">Вес (кг.):</label>
                    <div class="controls">
                        <div class="input">
                            <input class="input-mini" name="weight" type="text"  />
                        </div>
                        <p class="j-message help-block"></p>
                    </div>
                </div>

                <div class="j-size-input control-group">
                    <label class="control-label">Размер (см.):</label>
                    <div class="controls">
                        <div class="input">
                            <input class="input-mini" name="size" type="text"  />
                        </div>
                        <p class="j-message help-block"></p>
                    </div>
                </div>

                <div class="j-persons_count-input control-group">
                    <label class="control-label">Количество людей:</label>
                    <div class="controls">
                        <div class="input">
                            <input class="input-mini" name="persons_count" type="text"  />
                        </div>
                        <p class="j-message help-block"></p>
                    </div>
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">
                        Добавить
                    </button>
                </div>

            </fieldset>
        </form>
    </div>
</div>