<div class="page-header">

    <div class="row">
        <div class="span6">
            <h1>Добавление нового рецепта</h1>
        </div>
        <div class="span6">
            <a class="j-navigation-link btn btn-large pull-right"
               data-action="back">
               Назад
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="span12">

        <form action="/api/" method="POST" target="api_frame"
              enctype="multipart/form-data"
              class="j-form form-horizontal"
              data-name="add-recipe"
              data-record-type="recipe">

            <input type="hidden" name="method" value="recipes.add" />
            <input type="hidden" name="format" value="frame-callback" />

            <input type="hidden" name="bakery_id" class="t-current-bakery-id" />

            <div class="j-form-message alert alert-error hide"></div>

            <fieldset>

                <div class="j-recipe_name-input control-group">
                    <label class="control-label">
                        Название:
                    </label>
                    <div class="controls">
                        <div class="input">
                            <input name="recipe_name" type="text" />
                        </div>
                        <p class="j-message help-block">
                            Общеизвестное название рецепта.
                        </p>
                    </div>
                </div>

                <div class="j-recipe_desc-input control-group">
                    <label class="control-label">
                        Описание рецепта:
                    </label>
                    <div class="controls">
                        <div class="input">
                            <textarea name="recipe_desc" rows="7"></textarea>
                        </div>
                        <p class="j-message help-block">
                            Подробное описание рецепта.
                        </p>
                    </div>
                </div>

                <div class="j-recipe_image-input control-group">
                    <label class="control-label">
                        Картинка:
                    </label>
                    <div class="controls">
                        <div class="input">
                            <input name="recipe_image" type="file" />
                        </div>
                        <p class="j-message help-block">
                            Картинка в списке и в окне описания рецептов.
                        </p>
                    </div>
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">
                        Добавить
                    </button>
                </div>

            </fieldset>
        </form>
    </div>
</div>