<div class="j-navigation-page page active"
     data-name="table">

    <div class="page-header">
        <div class="row">
            <div class="span6">
                <h1>Формы</h1>
            </div>
            <div class="span6">
                <a class="j-navigation-link
                          btn btn-large btn-primary pull-right"
                   data-href="add">
                    Добавить размер
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span12 j-template-transformer j-button-group"
             data-template-id="dimensions_list_template"
             data-name="dimensions-list">

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Форма</th>
                        <th>Вес (кг.)</th>
                        <th>Размер (см.)</th>
                        <th>Количество людей</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody class="t-dimensions-list"></tbody>
            </table>

        </div>
    </div>

</div>

<div class="j-navigation-page page"
     data-name="add">

    {% include 'page/dimensions/add-dimension.twig' %}
</div>

<div class="j-control-container hide">

    <tuna:template id="dimensions_list_template">
        <tuna:list tuna:target=".t-dimensions-list" tuna:path=""
                   tuna:item-renderer-id="dimensions_list_item_renderer"
                   tuna:item-template-id="dimension_template"
                   tuna:key-path="id" />
    </tuna:template>

    <tuna:template id="dimension_template">
        <tuna:attr tuna:name="data-dimension-id" tuna:path="id"
                   tuna:target=".t-id" />

        <tuna:spot tuna:target=".t-shape-name" tuna:path="shapeName" />
        <tuna:spot tuna:target=".t-weight" tuna:path="weight" />
        <tuna:spot tuna:target=".t-size" tuna:path="size" />
        <tuna:spot tuna:target=".t-persons-count" tuna:path="personsCount" />

        <tuna:attr tuna:name="value" tuna:path="id"
                   tuna:target=".t-id-checkbox" />

    </tuna:template>

    <table>
        <tbody>
            <tr id="dimensions_list_item_renderer">
                <td class="t-shape-name"></td>
                <td class="t-weight"></td>
                <td class="t-size"></td>
                <td class="t-persons-count"></td>
                <td>
                    <ul class="nav nav-list">
                        <li>
                            <a class="j-button t-id"
                               data-action="delete">
                                <i class="icon-trash"></i> Удалить
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

</div>